@import url('https://fonts.googleapis.com/css2? família=Oswald&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Oswald', sans-serif;
    font-weight: 400;
    color: #5D5D7D;
}

.container {
    display: flex;
}

.section-a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6rem;
    margin-top: 14rem;
    width: 60%;
}

.section-b{
    display: inline-block;
    background-color: rgb(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
}

header{ margin: 12px 35px 0px 35px;}

.link-h{
    font-weight: 400;
    font-size: 20px;
    color: #5D5D7D;
    margin-left: 26px;
    cursor: pointer;
}

a:nth-child(2){opacity: 0.4;}

a:hover{opacity: .4;}

a:active{opacity: .8;}

img{
    height: 27rem;
    position: relative;
    top: 20%;
    right: 105px;
}

h1{
    font-size: 3rem;
    line-height: 3.5rem;
    width: 380px;
}

p{
    font-size: 1.2rem;
    line-height: 34px;
    opacity: 0.6;
    width: 363px;
    margin: 7px 0;
}

button{
    width: 9rem;
    height: 2rem;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 40px;
    border: none;
}

button:hover{opacity: 0.8;}

button:active{opacity: 0.5;}

@media screen and (max-width: 900px){
    .section-a{
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }

    .section-b{
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    img{
        position: static;
        max-width: 90%;
    }

    header{
        display: none;
    }

    h1{
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0px 50px;
        text-align: center;
    }

    p{
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button{
        margin: 0 auto;
        display: block;
    }
}